csv-dir
.env
client_secret_946485639839-1beknq37id68h379c16gejsamj68ban8.apps.googleusercontent.com.json
__pycache__
.python-version
.DS_Store
.history
/Users/justinpak/code/justinpakzad/Discogs_Enhancer_Project/discogs_advanced_searching/model/playbook.ipynb
