{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to DiscogsPlus</h1>
    <p>Advanced searching and playlist generator.</p>

    <form id="search-form" class="mt-4" action="{{ url_for('search') }}" method="post">
        <div class="row">
            <div class="col-md-4">
                <label for="genre">Genre</label>
                <input type="text" id="genre" name="genre" class="form-control" placeholder="Enter genre">
            </div>
            <div class="col-md-4">
              <label for="format">Format</label>
              <input type="text" id="format" name="format" class="form-control" placeholder="Enter format">
          </div>
            <div class="col-md-4">
                <label for="style">Styles</label>
                <input type="text" id="style" name="style" class="form-control" placeholder="Enter styles">
            </div>
            <div class="col-md-2">
                <label for="year_from">Year From</label>
                <input type="number" id="year_from" name="year_from" class="form-control" placeholder="From">
            </div>
            <div class="col-md-2">
                <label for="year_to">Year To</label>
                <input type="number" id="year_to" name="year_to" class="form-control" placeholder="To">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label for="countries">Countries</label>
                <input type="text" id="countries" name="countries" class="form-control" placeholder="Enter countries separated by commas">
            </div>
            <div class="col-md-4">
                <div class="form-check mt-4">
                  <input class="form-check-input" type="checkbox" id="one-release" name="one_release">
                  <label class="form-check-label" for="one-release">
                      Filter by artist with one release
                  </label>
              </div>
              <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" id="no-master" name="no_master">
                  <label class="form-check-label" for="no-master">
                      Filter by no master release
                  </label>
              </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Search</button>

    </form>
</div>
{% endblock %}
